<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,700&family=Piazzolla:ital,opsz,wght@1,8..30,300&family=Quicksand&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap" rel="stylesheet">
 
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <title>StuData</title>
</head>
<body>
    <nav class="navbar">
        <h4>StuData</h4>
        <div class="nav-items">
        <a href="/">Home</a>
        <a href="/add">Add Data</a>
        <a href="/subform">Add Subjects</a>
        <a href="/submarks">Add or Edit Marks</a>
       </div>
    </nav>
<div>
    <div class="student-list">
        
            <table>
                <thead>
                    <% if(datalist[0]) {%>
                    <th>Name</th>
                    <th>Registration Number</th>
                    <% datalist.forEach(function(element){  %>
                        <%if(element){%>
                            <%   (element.subNames).forEach(function(sub) {%>
                                <th> <%=sub%> </th>
                        <% }) %>
                        <th>Percentage</th>
                    </thead>
                    <tbody>
                            <tr>
                            <td>
                            <%=element.Name%>
                        </td>
                        <td>
                            <%=element.Registration_Num %>
                        </td>
                            <%   (element.Marks).forEach(function(sub) {%>
                                <td><%=sub%></td>
                                <% }) %>
                                <% if(element.Percentage){%>
                                   <td> <%=element.Percentage%> </td>
                                <%}%>
                                <%if(!(element.Percentage)){%>
                                    <td>-</td>
                               <% } }})%>
                            </tr>
                           
                      
                        <%}  %>
                        <% if (!(datalist[0])){%>
                            <h2 class="message">No Match Found</h2>
                         <% } %>      
                </tbody>
            </table>
        <a href="/"><button class="btn">see all</button></a>
        <a href="/add"><button class="btn">Add New Data</button></a>
        

    </div>
    </div>
</body>
</html>